---
layout: default
title: Maschinendeck - Hacker- und Makerspace in Trier
lang: de
ref: home
---


<div class="splash"></div>

<div class="container welcome">
  <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <article class="alert alert-info">
          <h4>Corona Lockerungen</h4>
	        <p>
              Die Räume des Maschinendeck Trier e.V. stehen ab <b>1. Juli 2021</b> für Mitglieder zur Nutzung wieder
              zur Verfügung.
            </p>
            <p>
              Wir bitten alle Mitglieder die zum Chaostreff vorbeikommen wollen, sich respektive im Discordchannel
              <code style="font-size: 1em;">#ankündigungen</code> unter dem entsprechenden Post anzumelden und sicherzustellen,
              dass die nötigen Kenntnisse über das Hygienekonzept im Vorfeld bekannt sind und ein gültiger
              Coronaschnelltest, PCR-Test oder Impfnachweis vorhanden ist.<br><br>
            </p>
            <p>
              Nichtmitglieder können nach Absprache ebenfalls teilnehmen und erhalten vorher ein entsprechendes
              Briefing.
            </p>
        </article>
      </div>
    </div>
  <div class="row">
    <div class="col-md-4">
      <h2>Die Idee</h2>
      <p>
        Mit dem Maschinendeck e.V. haben wir uns zum Ziel gesetzt in Trier einen Ort zu schaffen, in dem alle Arten von Nerdkultur ein Zuhause finden können. Ob du coden, löten, Kaffee rösten, Brettspiele spielen oder deine neueste Verschwörungstheorie besprechen
        willst: im Maschinendeck gibt es einen Platz für dich.
      </p>
    </div>
    <div class="col-md-4 col-md-offset-1">
      <h2>Vorbei kommen</h2>
      <p>Packt eure Lieblingshardware ein und besucht uns beim regelmäßigen Chaostreff jeden Dienstag um 20:00 Uhr. Ihr findet uns in Trier, Karl-Marx-Straße 18.
        </p>
    </div>
    <div class="col-md-2 col-md-offset-1">
      <p id="space_state">Raumstatus: [...]</p>
      <p>
        <ul class="social-media-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %} {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
	  <li>
            <a href="https://discord.gg/e5xYxA8">Discord</a>
	  </li>
	  <li>
            <a href="mailto:public-subscribe@maschinendeck.org">Mailingliste</a>
          </li>
          <li>
            <a href="http://pad.maschinendeck.org/">Etherpad</a>
          </li>
          <li>
            <a href="https://kiwiirc.com/client/irc.freenode.net/maschinendeck">Webchat</a>
          </li>
          <li>
            <a href="https://riot.im/app/#/room/#freenode_#maschinendeck:matrix.org">Riot.im</a>
          </li>
          <li>
            <a href="http://www.maschinendeck.org/feed.xml">RSS feed</a>
          </li>
          <li>
            <a href="https://tuer.maschinendeck.org">Tuer</a>
          </li>
        </ul>
      </p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-9">

      <h2>Blog</h2>

      <ul class="post-list">
        {% for post in site.posts %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>

          <p>
            {{ post.content | strip_html | truncatewords:35}}
          </p>
        </li>
        {% endfor %}
      </ul>

      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

    </div>
    <div class="col-md-3">
      <a class="twitter-timeline" data-height="1200" data-dnt="true" data-theme="light" href="https://twitter.com/Maschinendeck_">Tweets by Maschinendeck_</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    </div>
  </div>
</div>


<script src="/js/main.js"></script>
<script>
  $(document).ready(function(){
    updateSpaceState($("#space_state"));
  });
</script>
