---
layout: default
title: Maschinendeck - Hacker- und Makerspace in Trier
lang: de
ref: home
---


<div class="splash"></div>

<div class="container welcome">
	<div class="row">
      <div class="col-md-6 col-md-offset-3">
        <article class="alert alert-danger">
          <h4>Aktuelle Information</h4>
          <p>
            Der Vorstand des Maschinendeck Trier e.V. hat beschlossen, den aktuellen
            <a style="color: #ffcbbc;" href="https://www.bundesregierung.de/breg-de/aktuelles/vereinbarung-zwischen-der-bundesregierung-und-den-regierungschefinnen-und-regierungschefs-der-bundeslaender-angesichts-der-corona-epidemie-in-deutschland-1730934">Anweisungen/Richtlinien</a> des Bundesministeriums des Inneren und
            der Veterinärämter zu folgen. Aus diesem Grund bleiben die Räume des Maschindendecks ab
          </p>
          <p style="text-align: center;">
            <b style="font-size: 1.5rem;">18. März 2020</b>
          </p>
          <p>
            bis auf Weiteres geschlossen und es finden keinerlei Veranstaltungen statt. Wir bitten um Verständnis und wünschen allen beste Gesundheit im weiteren Verlauf.
          </p>
        </article>
      </div>
    </div>
  <div class="row">
    <div class="col-md-4">
      <h2>Die Idee</h2>
      <p>
        Mit dem Maschinendeck e.V. haben wir uns zum Ziel gesetzt in Trier einen Ort zu schaffen, in dem alle Arten von Nerdkultur ein Zuhause finden können. Ob du coden, löten, Kaffee rösten, Brettspiele spielen oder deine neueste Verschwörungstheorie besprechen
        willst: im Maschinendeck gibt es einen Platz für dich.
      </p>
    </div>
    <div class="col-md-4 col-md-offset-1">
      <h2>Vorbei kommen</h2>
      <p>Packt eure Lieblingshardware ein und besucht uns beim regelmäßigen Chaostreff jeden Dienstag um 20:00 Uhr. Ihr findet uns in Trier, Karl-Marx-Straße 18.
        </p>
    </div>
    <div class="col-md-2 col-md-offset-1">
      <p id="space_state">Raumstatus: [...]</p>
      <p>
        <ul class="social-media-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %} {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
	  <li>
            <a href="https://discord.gg/e5xYxA8">Discord</a>
	  </li>
	  <li>
            <a href="mailto:public-subscribe@maschinendeck.org">Mailingliste</a>
          </li>
          <li>
            <a href="http://pad.maschinendeck.org/">Etherpad</a>
          </li>
          <li>
            <a href="https://kiwiirc.com/client/irc.freenode.net/maschinendeck">Webchat</a>
          </li>
          <li>
            <a href="https://riot.im/app/#/room/#freenode_#maschinendeck:matrix.org">Riot.im</a>
          </li>
          <li>
            <a href="http://www.maschinendeck.org/feed.xml">RSS feed</a>
          </li>
          <li>
            <a href="https://tuer.maschinendeck.org">Tuer</a>
          </li>
        </ul>
      </p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-9">

      <h2>Blog</h2>

      <ul class="post-list">
        {% for post in site.posts %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>

          <p>
            {{ post.content | strip_html | truncatewords:35}}
          </p>
        </li>
        {% endfor %}
      </ul>

      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

    </div>
    <div class="col-md-3">
      <a class="twitter-timeline" data-height="1200" data-dnt="true" data-theme="light" href="https://twitter.com/Maschinendeck_">Tweets by Maschinendeck_</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    </div>
  </div>
</div>


<script src="/js/main.js"></script>
<script>
  $(document).ready(function(){
    updateSpaceState($("#space_state"));
  });
</script>
