---
layout: default
title: Maschinendeck - Hacker- and Makerspace in Trier
lang: en
ref: home
---

<div class="splash"></div>

<div class="container welcome">
  <div class="row">
    <div class="col-md-4">
      <h2>The Club</h2>
      <p>
With the Maschinendeck e.V., we have set ourselves the goal of creating a place in Trier where all kinds of nerd cultures can find a home. Whether you're interested in coding, soldering, coffee roasting or want to play board games: You are always welcome here.
      </p>
    </div>
    <div class="col-md-4 col-md-offset-1">
      <h2>Visit us</h2>
      <p>Take your favorite hardware and come to our weekly Chaostreff (open Meetup) every Wednesay at 20:00. As we are temporarily without a room, these will take place at Textorium, Wechselstr. 4-6 54290 Trier.</p>
    </div>
    <div class="col-md-2 col-md-offset-1">
      <p id="space_state">Space: [...]</p>
      <p>
        <ul class="social-media-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %} {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
          <li>
            <a href="mailto:public-subscribe@maschinendeck.org">Public Mailinglist (Mostly German)</a>
          </li>
          <li>
            <a href="http://pad.maschinendeck.org/">Etherpad</a>
          </li>
          <li>
            <a href="https://kiwiirc.com/client/irc.freenode.net/maschinendeck">IRC Webchat (#Maschinendeck at Freenode)</a>
          </li>
          <li>
            <a href="https://maschinendeck.slack.com">Slack</a>
          </li>
          <li>
            <a href="http://www.maschinendeck.org/feed.xml">RSS feed</a>
          </li>
          <li>
            <a href="https://tuer.maschinendeck.org">Door</a>
          </li>
        </ul>
      </p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-9">

      <h2>Blog</h2>

      <ul class="post-list">
        {% for post in site.posts %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>

          <p>
            {{ post.content | strip_html | truncatewords:35}}
          </p>
        </li>
        {% endfor %}
      </ul>

      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

    </div>
    <div class="col-md-3">
      <a class="twitter-timeline" data-height="1200" data-dnt="true" data-theme="light" href="https://twitter.com/Maschinendeck_">Tweets by Maschinendeck_</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    </div>
  </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="/js/main.js"></script>
<script>
  $(document).ready(function(){
    updateSpaceState($("#space_state"));
  });
</script>
