<footer class="container site-footer">

  <div class="row">
    <div class="col-md-4 footer-left">
      <ul class="contact-list">
        <li>{{ site.title }}</li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </div>

    <div class="col-md-4 footer-center">
      <ul class="social-media-list">
        {% if site.github_username %}
        <li>
          {% include icon-github.html username=site.github_username %}
        </li>
        {% endif %} {% if site.twitter_username %}
        <li>
          {% include icon-twitter.html username=site.twitter_username %}
        </li>
        {% endif %}
      </ul>
    </div>

    <div class="col-md-4 footer-right">
      <p>{{ site.description }}</p>
      <p>
        <a href="/impressum/">Impressum</a>
      </p>
    </div>

  </div>


</footer>
