@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-Regular.ttf");
	font-weight: 400;
}
@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-Italic.ttf");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-Light.ttf");
	font-weight: 300;
}
@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-LightItalic.ttf");
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-Bold.ttf");
	font-weight: 700;
}
@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-BoldItalic.ttf");
	font-weight: 700;
	font-style: italic;
}
