/**
* Wrapper
*/
// .wrapper {
//    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
//    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
//    margin-right: auto;
//    margin-left: auto;
//    padding-right: $spacing-unit;
//    padding-left: $spacing-unit;
//    @extend %clearfix;
//
//    @include media-query($on-laptop) {
//        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
//        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
//        padding-right: $spacing-unit / 2;
//        padding-left: $spacing-unit / 2;
//    }
// }

h2, .h2 {
  font-size: 23px;
}

.welcome {
  p {
    text-align: justify;
  }
}

p {
  text-align: justify;
}

// .page-content {
//     padding: $spacing-unit 0;
// }

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;

        > h2 {
          margin-bottom: 4px;
          display: inline-block;
        }

    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    display: block;
}

.post-link {
    display: block;
    font-size: 20px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
